.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: #3F4E4F; */
}

.header {
    /* margin: 10px; */
    padding: 10px;
    background-color: #3F4E4F;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

.icon {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2.5px;
    color:#A27B5C;
}

.header > h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    display: inline-block;
    font-weight: 500;
    color:#DCD7C9;
}

.header > h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    font-weight: 300;
    color:#A27B5C;
}

.buttonList {
    display: inline-block;
    float: right;
}

.button {
    margin-left: 10px;
    font-size: 15px;
    background-color: #2C3639;
    color: #DCD7C9;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    width: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.button:hover {
    background-color: #A27B5C;
}

.grid {
    display: grid;
    height: 91%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-top: 5px;
    background: url("../../images/bg.jpg");
}

.player1 {
    grid-row: 1 / 3;
    background-color: #dcd7c9;
    /* 하이라이트 시
    background-color: #A27B5C; */
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 20px;
    position: relative;
}
.player2 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background-color: #DCD7C9;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;position: relative;
}
.player3 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background-color: #DCD7C9;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;position: relative;
}
.player4 {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    background-color: #DCD7C9;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 20px;position: relative;
}
.player5 {
    grid-row: 3 / 5;
    grid-column: 3 / 4;
    background-color: #DCD7C9;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;position: relative;
}

.center {
    grid-row:  3 / 6;
    grid-column: 2 / 3;
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 20px;
    display: grid;
    align-items:center;
    grid-template-rows: 20% 60% 20%;
    padding: 10px;

}

.qs {
    grid-row: 1 / 2;
    background-color: #3F4E4F;
    display: grid;
    align-items:center;
    height: 35px;
    margin: 0 30px 0 30px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: #DCD7C9;
    font-weight: 500;
    
}

.cards {
    grid-row: 2 / 3;
    /* background-color: rgb(255, 0, 0); */
    height: 100%;
    width: 55%;
    margin: auto;
    align-items: center;
    position: relative;
}

.cards_back {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    align-items: center;
    opacity: 0;
}

.cards_back > img {
    display: block;
	width: 100%;
	height: auto;
    padding: 0 5px 0 5px;
}

.cards_front {
    /* position: absolute; */
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    align-items: center;
    opacity: 0;
}

.cards_front > img {
    /* position: absolute; */
    display: block;
	width: 100%;
	height: auto;
    padding: 0 5px 0 5px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.none{

}

.flip_back{
    opacity: 1;
    backface-visibility: hidden;
    animation-name: backInUp, flipOutBack;
    animation-delay: 0s, 1.7s;
    animation-duration: 1.5s, 1s;
}

.flip_front{
    opacity: 1;
    backface-visibility: hidden;
    animation-name: opacity, flipOutFront;
    animation-delay: 0s, 1.7s;
    animation-duration: 1.7s, 1s;
}

.info {
    grid-row: 3 / 4;
    grid-template-columns: 30% 40% 30%;
    height: 100%;
    display: grid;
    align-items: center;
}

.time {
    /* align-items:center; */
    background-color:aqua;
    display: grid;
    align-items: center;
    height: 100%;
}

.money {
    background-color: #DCD7C9;
    text-align: right;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: 400;
    height: 35px;
    width: 100%;
    display: grid;
    align-items: center;
}

.playerMe {
    grid-row: 5 / 7;
    grid-column: 1 / 2;
    background-color: #3F4E4F;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 20px;
    color: #DCD7C9;
    padding-top: 5px;
    position: relative;
}

.rules {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-weight: 400;
    display: grid;
    align-items:center;
    color: #2C3639;
}

.betting{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    grid-row: 6 / 7;
    grid-column: 2 / 4;
    /* margin-bottom: 5px; */
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: #3F4E4F;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.betting > button{
    margin-right: 15px;
    font-size: 25px;
    background-color: #2C3639;
    color: #DCD7C9;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border-radius:5px;
}

.betting > button:hover{
    background-color: #A27B5C;
    color: #DCD7C9;
}

.start{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    grid-row: 6 / 7;
    grid-column: 2 / 4;
    /* margin-bottom: 5px; */
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: #3F4E4F;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.start > button{
    margin-right: 15px;
    font-size: 25px;
    background-color: #2C3639;
    color: #DCD7C9;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border-radius:5px;
}

.start > button:hover{
    background-color: #A27B5C;
    color: #DCD7C9;
}


@keyframes backInUp {
    0% {
      -webkit-transform: translateY(100px) scale(0.8);
      transform: translateY(100px) scale(0.8);
      opacity: 0;
    }
  
    50% {
      -webkit-transform: translateY(0px) scale(0.8);
      transform: translateY(0px) scale(0.8);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
}

  @keyframes flipOutBack {
    from {
      -webkit-transform: perspective(500px);
      transform: perspective(500px);
    }

    to {
      -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 180deg);
      transform: perspective(500px) rotate3d(1, 0, 0, 180deg);
    }
}


@keyframes flipOutFront {
    from {
      -webkit-transform: perspective(500px) rotate3d(1, 0, 0, -180deg);
      transform: perspective(500px) rotate3d(1, 0, 0, -180deg);
      /* opacity: 0; */
    }

    to {
      -webkit-transform: perspective(500px);
      transform: perspective(500px);
      /* opacity: 1; */
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}


.highlight{
    background-color:#A27B5C;

}

.ruby_win{
    position: absolute;
}