.Player1{
    position: relative;
    top:500px;
    left: auto;
    right: auto;width: 100px;
    height: 200px;border: 1px;
    
}
.Player2{
    top:400px;
    left: 100px;
    position: relative;width: 100px;
    height: 200px;border: 1px;

    
}
.Player3{
    top:200px;
    left: 100px;
    position: relative;
    width: 100px;
    height: 200px;border: 1px;
}
.Player4{
    top:50px;
    left:auto;
    right: auto;
    position: relative;width: 100px;
    height: 200px;border: 1px;
}
.Player5{
    top:200px;
    right: 100px;
    position: relative;width: 100px;
    height: 200px;border: 1px;
}
.Player6{
    top:400px;
    right: 100px;
    position: relative;width: 100px;
    height: 200px;border: 1px;
}

.stream-container {
	padding: 0;
}