.container{
    /* position: relative; */
    height: 100%;
    /* width: 100vw; */
}

.player{
    padding: 10px;
    height: 100%;
    width: 100%;
    display: table;
}

.list {
    padding: none;
    margin: none;
    height: 100%;
    text-align: center;
}

.camera {
    width: 60%;
    height: 100%;
    background-color: rgb(109, 109, 109);
    border-radius: 15px;
    display: inline-block;
    float: left;
}

.info {
    width: 40%;
    height: 100%;
    display: inline-block;
    padding-left: 10px;
}

.userInfo{
    height: 30%;
    /* background-color: red; */
}

.name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
}

.ruby{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

/* .divider{
    margin: 0px;
    padding: 0px;
    height: 5%;
} */

.gameInfo{
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* background-color: aqua; */
}

.card {
    /* background-color: rgb(214, 12, 12); */
    grid-row: 1 / 3;
    height: 100%;
    position: relative;
}

.card_back {
    position: absolute;
    backface-visibility: hidden;
    animation-name: flipOutBack;
    animation-delay: 2.5s;
    animation-duration: 1s;
}

.card_back > img{
    object-fit: cover;
	width: 100%;
	height: 100%;
    
}

.card_front {
    position: absolute;
    animation-name: opacity, flipOutBack;
    animation-delay: 0s, 2.5s;
    animation-duration: 2.5s, 1s;
    backface-visibility: hidden;
    animation-name: opacity, flipOutFront;
}

.card_front > img{
    object-fit: cover;
	width: 100%;
	height: 100%;
    
}

.status {
    /* background-color: aqua; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #A27B5C;
    display: grid;
    align-items:center;
}

.emotion {
    background-color: aqua;
    display: grid;
    align-items:center;
}

.empty{
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 80px;
    color: #FFFFFF;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.empty:hover{
    border-radius: 15px;
    background-color: #E8E2D3;
}

@keyframes flipOutBack {
    from {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }

    to {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 180deg);
    }
}

@keyframes flipOutFront {
    from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -180deg);
    }

    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}