.Player1{
    top:500px;
    left: auto;
    right: auto;
    
}
.Player2{
    top:400px;
    left: 100px;
    

    
}
.Player3{
    top:200px;
    left: 100px;
    
}
.Player4{
    top:50px;
    left:auto;
    right: auto;
    
}
.Player5{
    top:200px;
    right: 100px;
    
}
.Player6{
    top:400px;
    right: 100px;
    
}