.loginmain {
    height: 1080px;
    width: 1920px;
    background-color: #ffffff;
}

.rectangle-2 {
    height: 315px;
    width: 449px;
    background-color: #d9d9d9;
}

.로-그-인 {
    border-radius: 20px;
    height: 781px;
    width: 537px;
    background-color: #d9d9d9;
}

.text-1 {
    text-align: center;
    vertical-align: middle;
    font-size: 64px;
    font-family: Inter;
    line-height: auto;
    color: #000000;
}

.group-2-6 {
    height: 79px;
    width: 486px;
}

.비-밀-번-호 {
    height: 79px;
    width: 382px;
    background-color: #5a5a5a;
}

.text-2 {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-family: Inter;
    line-height: auto;
    color: #ffffff;
}

.group-2-7 {
    height: 79px;
    width: 486px;
}

.비-밀-번-호 {
    height: 79px;
    width: 382px;
    background-color: #5a5a5a;
}

.text-3 {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-family: Inter;
    line-height: auto;
    color: #ffffff;
}

.text-4 {
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    font-family: Inter;
    line-height: auto;
    color: #000000;
}