.mainframe {
    width:100vh;
    margin: 14rem auto;
    text-align: center;
}

/* .title {
    font-size: 5rem;
    text-align: center;
    font-weight: 100;
    color: rgb(0, 0, 0);
} */

.parent {
    margin: 12rem auto;
    height: 5em; /* 애니메이션 높이 */
    overflow-y: hidden;
    display: block;
}
.parent .child {
    font-size: 5em;/* 애니메이션 높이 */
    font-weight: 100;
    line-height: 1;
    animation-name: grow;
    animation-duration: 1.5s;/* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@keyframes grow {
    from { transform: translateY(3em) }/* 애니메이션 높이 */
    to { transform: translateY(0) }
}

.button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    width: 250px;
}

.button:hover{
    background-color: rgb(124, 0, 158);
    color: white;
}