.bg {
    background: url("../../images/bg.jpg");
    position: fixed; 
    width: 100%;        
    height: 100%;
    display: table;
}

.mainframe {
    width:100vh;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.parent {
    margin-bottom: 20vh;
    height: 8em; /* 애니메이션 높이 */
    overflow-y: hidden;
    display: block;
}
.parent .child {
    font-family: 'Times New Roman', Times, serif ;
    color: #2C3639;
    font-size: 8em;/* 애니메이션 높이 */
    line-height: 1;
    animation-name: grow;
    animation-duration: 1.5s;/* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@keyframes grow {
    from { transform: translateY(3em) }/* 애니메이션 높이 */
    to { transform: translateY(0) }
}

.explan {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #2C3639;
    font-size: 25px;
    animation-name: fadeIn;
    animation-duration: 1.5s;/* 애니메이션 시간 */
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.button {
    font-size: 15px;
    background-color: #2C3639;
    color: #DCD7C9;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 50px;
    width: 250px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.button:hover{
    background-color: #A27B5C;
    color: #DCD7C9;
}