.bg {
    background: url("../../images/bg.jpg");
    position: fixed; 
    width: 100%;        
    height: 100%;
    display: table;
    /* animation-name: vanishIn;
    animation-duration: 1.5s; */
}
  
.mainframe {
    width:100vh;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.parent {
    margin-bottom: 15vh;
    height: 35vh;
    overflow-y: hidden;
    display: block;
    position: relative;
    overflow-x: hidden
}
.parent .child_betting {
    position: absolute;
    animation-name: grow;
    animation-duration: 1.5s;/* 애니메이션 시간 */
}

.parent .child_betting > img {
    width: 55%;
}

.parent .child_royal {
    position: absolute;
    overflow-x: hidden;
    animation-name: opacity, swipe;
    animation-delay: 0s, 0.5s;
    animation-duration: 0.5s, 3s;
}

.parent .child_royal > img {
    width: 55%;
    overflow-x: hidden
}

.explan {
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #A27B5C;
    font-size: 25px;
    animation-name: opacity, fadeIn;
    animation-delay: 0s, 2.5s;
    animation-duration: 2.5s, 1.5s;/* 애니메이션 시간 */
}

.button {
    font-size: medium;
    background-color: #2C3639;
    color: #DCD7C9;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    width: 250px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.button:hover{
    background-color: #A27B5C;
}

.BGMbutton {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color:transparent;
    border: none;
    color: #2C3639;
}

.BGMbutton:hover {
    color: #A27B5C;
}


@keyframes grow {
    0% {
        transform: translateY(15vh);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        
    }
}

@keyframes swipe {
    0% {
        clip: rect(0vh, -100vw, 100vh, -100vw);
    }
    100% {
        clip: rect(0vh, 100vw, 100vh, -100vw);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}