.nav {
  /* padding-left: 10px; */
  /* background-color: #f7f3e9; */
}

.navLink{
  /* margin-top: 10px; */
  font-family: 'Noto Sans KR', sans-serif;
  color: #A27B5C;
  font-weight: 500;
  font-size: large;
}

.navLink:hover{
  color: #A27B5C;
}

.contents {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 20px;
}

.contents > h3{
  font-family: 'Noto Sans KR', sans-serif;
  color: #FFFFFF;
  font-size: large;
  background-color: #A27B5C;
  width: 120px;
  padding: 5px;
  text-align: center;
  border-radius: 30px;
}

.contents > img{
  height: 120px;
  margin-bottom: 25px;
}

.section {
  background-color: #f7f3e9;
  padding: 20px;
  border-radius: 10px;
  color: #A27B5C;
}

.imgNumber {
  height: 120px;
  margin-bottom: 20px;
}

.imgShape{
  height: 40px;
  margin-bottom: 20px;
}

p{
  margin-bottom: 7px;
}

.navItem{
  width: 25%;
  text-align: center;
}