.button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    border-radius: 30px;
    width: 250px;
}

.button:hover {
    background-color: rgb(124, 0, 158);
    color: white;
}

.li {
    color: black;
    text-decoration: none;
}

.li:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.ico{
    display: inline-block;
    color: black;
}

