.notice {
  padding-top: 100px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #d3e5e8;
}

.table-striped>tbody>tr:nth-of-type(odd)>td {
  color: black;
}

.table-striped>tbody>tr:nth-of-type(odd)>td>.link-color {
  color: black;
}

.table-striped>tbody>tr:nth-of-type(even)>td>.link-color {
  color:black;
}
