.notice-detail {  
  width: 500px;
  background-color: #d3e5e8;
  margin-bottom: 20px;
  border: solid 5px #353f71;  
  border-radius: 20px;
  padding: 20px;
}

.notice-detail-font-style {
  color: #353f71;
}

.notice-content {
  text-align: start;
  white-space: pre-wrap;
}