.nav {
  /* padding-left: 10px; */
  /* background-color: #f7f3e9; */
}

.navItem{
  width: 33.333%;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  /* background-color: aqua; */
}

.navLink{
  /* margin-top: 10px; */
  font-family: 'Noto Sans KR', sans-serif;
  color: #A27B5C;
  font-weight: 500;
  font-size: large;
}

.navLink:hover{
  color: #A27B5C;
}

.contents {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 20px;
  /* background-color: aqua; */
}

.grid{
  /* background-color: #A27B5C; */
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 00;
}

.remove {
  color: #cb295f;
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.remove:hover {
  color: #9b214b;
  background-color: transparent;
}

.add{
  color: #3F4E4F;
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.add:hover{
  color: #A27B5C;
  background-color: transparent;
}

.icon{
  font-size: 22px;
  margin-right: 5px;
}

.alert{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: #A27B5C;
  font-weight: 400;
}

.searchIcon{
  /* background-color: aqua; */
  font-size: 34px;
  color: #A27B5C;

}
.searchField{
  font-family: 'Noto Sans KR', sans-serif;
  /* background-color: aqua; */
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}
.searchBtn{
  top:-8px;
  margin-top: 0;
  font-family: 'Noto Sans KR', sans-serif;
  width: 15%;
  height: 55px;
  background-color: #A27B5C;
  border-radius: 5px;
  color: #DCD7C9;
  font-weight: 400;
  font-size: large;
}

.searchBtn:hover{
  background-color: #3F4E4F;

}

.none {
  color: #A27B5C;
  font-size: 70px;
  margin-bottom: 5px;
}