.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .modal button {
    outline: none;
    cursor: pointer;
    border: 0;
  }
  .modal > section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #FFF;
    animation: modal-show 0.3s;
    overflow: hidden;
  }
  .modal > section > header {
    position: relative;
    padding: 10px;
    padding-left: 15px;
    background-color: #DCD7C9;
    font-weight: 600;
    font-size: 20px;
    color: #A27B5C;
  }
  .modal > section > header button {
    position: absolute;
    top: 9px;
    right: 15px;
    /* width: 30px; */
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #A27B5C;
    background-color: transparent;
  }
  .modal > section > main {
    padding: 15px;
    /* border-bottom: 1px solid #dee2e6; */
    border-top: 1px solid #dee2e6;
  }
  /* .modal > section > footer {
    padding: 12px 16px;
    text-align: right;
  } */
  /* .modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
  } */
  .modal.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
  }
  @keyframes modal-show {
    from {
      opacity: 0;
      margin-top: -50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  @keyframes modal-bg-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }