.chat {
    height: 100%;
    /* padding: 5px; */
}
.chatList {
    overflow-y:auto;
    height: 100px;
    padding-left: 10px;
}

.chatList::-webkit-scrollbar {
    width: 10px;
}
.chatList::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.chatList::-webkit-scrollbar-thumb {
    background-color: #2c3639a2;
    border-radius: 5px;
}

.chatLine {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #2C3639;
}

.inputList {
    /* height: 10%; */
}

.input {
    width: 90%;
    display: inline-block;
    padding: 4px;
    border: none;
    border-bottom-left-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 10px;
    
}

.input:focus-within {
    /* outline: none; */
}

.inputBtn {
    width: 10%;
    bottom: 0;
    display: inline-block;
    background-color: #3F4E4F;
    color: #DCD7C9;
    border: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    padding: 4px;
    border-bottom-right-radius: 5px;
}

.inputBtn:hover {
    background-color: #2C3639;
}