.chat {
    height: 100%;
    /* padding: 5px; */
    /* background-color: red; */
}
.chatList {
    /* overflow: scroll; */
    overflow-y:auto;
    height: 80px;
    padding-left: 10px;
    /* background-color: aqua; */
}

.chatLine {
    margin: 0;
    padding: 0;
    /* overflow-y:scroll; */
}

.inputList {
    /* height: 10%; */
}

.input {
    width: 90%;
    display: inline-block;
}

.inputBtn {
    width: 10%;
    bottom: 0;
    display: inline-block;
}