.container {
    width: 100%;
    /* position: relative; */
    height: 100%;
    /* width: 100vw; */
    position: relative;

}

.cam {
    /* background-color: #A27B5C; */
    height: 100%;
    width: 60%;
    padding: 10px;
    display: inline-block;
    float: left;
}

.openvidu {
    width: 100%;
    height: 100%;
}


.info {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: right;
    padding-right: 10px;
}

.userInfo {
    height: 30%;
    padding-top: 10px;
}

.name {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;

}

.ruby {

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}


.rubyGet {
    position: absolute;
}

.gameInfo {
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* background-color: aqua; */
    padding-bottom: 10px;
}

.card {
    /* background-color: rgb(214, 12, 12); */
    grid-row: 1 / 3;
    height: 100%;
    position: relative;
}



.mybackcard>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}

.flip_back {
    
    position: absolute;
    opacity: 1;
    backface-visibility: hidden;
    animation-name: backInUp, flipOutBack;
    animation-delay: 0s, 1.7s;
    animation-duration: 1.5s, 1s;
    width: 100%;
    height: 100%;
}

.card_back {
    position: absolute;
    backface-visibility: hidden;
    animation-name: flipOutBack;
    /* animation-delay: 2.5s; */
    animation-duration: 1s;
    width: 100%;
    height: 100%;
}

.card_back>img {
    object-fit: contain;
    width: 100%;
    height: 100%;

}

.card_front {
    position: absolute;
    /* animation-name: opacity, flipOutBack; */
    /* animation-delay: 0s, 2.5s; */
    animation-duration: 1s;
    backface-visibility: hidden;
    animation-name: flipOutFront;
    width: 100%;
    height: 100%;
}

.card_front>img {
    object-fit: contain;
    width: 100%;
    height: 100%;

}

.status {
    /* background-color: aqua; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #A27B5C;
    display: grid;
    align-items: center;
    text-align: center;
}

.emotion {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    display: grid;
    text-align: center;
    /* color: #A27B5C; */
    font-weight: 300;
    margin-left: 10px;
    padding: 5px;
    font-size: 15px;
}

.td1{
    color : rgb(254, 102, 152);
    font-weight: 600;
}
.td2{
    color : rgb(254, 51, 119);
    font-weight: 600;
}
.td3{
    color : rgb(153, 31, 72);
    font-weight: 600;
}
.td4{
    font-weight: 600;
}


@keyframes flipOutBack {
    from {
        -webkit-transform: perspective(500px);
        transform: perspective(500px);
    }

    to {
        -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 180deg);
        transform: perspective(500px) rotate3d(1, 0, 0, 180deg);
    }
}

@keyframes flipOutFront {
    from {
        -webkit-transform: perspective(500px) rotate3d(1, 0, 0, -180deg);
        transform: perspective(500px) rotate3d(1, 0, 0, -180deg);
    }

    to {
        -webkit-transform: perspective(500px);
        transform: perspective(500px);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.speech_bubble {
    position: relative;
    background-color: #2C3639;
    border-radius: 20px;
    z-index:10;
    padding : 4px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #DCD7C9;
    text-align: center;
    width: 60%;
    font-size: large;
    font-weight: 500;
    top: -80px;
    left: 60px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.speech_bubble:after {
    border-top: 13px solid #2C3639;
    border-left: 0px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 34px;
    left: 65px;
    /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2); */
}

