@import url(//fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 10;
  padding: 10;
}

div.board {
  background-color: 'brown';
  width: 100%;
  background: #eab92d;
}

.board > button {
  position: fixed;
  top: 70px;
  /* bottom: 10px; */
  border: 1px solid rgb(86, 89, 90);
  right: 10px;
  padding: 5px;
  font-size: 18px;
  vertical-align: middle;
  color: #0f0a6f; 
  background-color: #ffffff;
  box-shadow: 0px 0px 30px #DCD7C9;
  margin: 1vh auto;
  border-radius: 15px;
  color: black; 
  font-family: sans-serif; 
}