.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}

.col {
  background-color: #f7f3e9;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  text-align: center;

}

.row{
  display: flex;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  /* background-color: aqua; */
}

.video {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: black;
}

.title {
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  color: #3F4E4F;
}

.center {
  display:inline-block
}

.button {
  margin: 0px 5px 0px 5px;
  background-color: #2C3639;
  color: #DCD7C9;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  width: 120px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.button:hover {
  background-color: #A27B5C;
}