.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 20px 20px 20px 20px;
}

.col {
  background-color: #f7f3e9;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  text-align: center;

}

.row{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2C3639;
}

/* .video {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
} */

.title {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: 0px;
}

.center {
  display:inline-block
}

.icon {
  margin-right: 8px;
}

.button {
  margin: 5px;
  font-size: 15px;
  background-color: #2C3639;
  color: #DCD7C9;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  width: 120px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.button:hover {
  background-color: #A27B5C;
  color: #DCD7C9;
}